<div class="container">
  <h2>Welcome to URL-shortener</h2>
  <form action="/urls" method="post">
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
  </form>

  <% if @short_url %>
    <p>Your link is <a href="http://localhost:9393/<%= @short_url %>">http://localhost:9393/<%= @short_url %></a></p>
  <% end %>

  <% if @saved == false %>
    <p>Oops... save was unsuccessful.  Try again, making sure you entered a proper URL</p>
  <% end %>
</div>
