<div class="container">
  <h1>Shortify a Link!</h1>

  <form action="/urls" method="post">
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
  </form>

  <% if @short_url %>
  <p class = "success">Your link is <a href="http://localhost:9393/<%= @short_url %>">http://localhost:9393/<%= @short_url %></a></p>
  <% end %>

  <% if @saved == false %>
    <p class = "error">Oops... save was unsuccessful.  Try again, making sure you entered a proper URL</p>
  <% end %>

  <% if @user %>
  <h2 class="welcome"> Welcome back <%= @user.name %>. </h2>

  <form class="logout-btn" method="get" action="/logout">
    <button type="submit">Logout</button>
  </form>
  
  <p class="all_links"><a href="/user/<%= @user.id %>"> See <em>all</em> your shortened links! </a></p>



  <% else %>
  <h2>Sign in</h2>
  <form method="post" action="/login">
    <ul>
      <li><input type="text" name="email" placeholder="email"></li>
      <li><input type="password" name="password" placeholder="password"></li>
      <li><button type="submit">Log In</button></li>
    </ul>
  </form>
  <p>
    <form method="get" action="/signup">
      <button type="submit">Create a new account</button>
    </form>
  </p> 
  <% end %>

</div>